<?xml version="1.0"?>
<ruleset name="Focused Schools">
	<description>WordPress Coding Standards for the Focused Schools theme and site plugin.</description>

	<file>wp-content/themes/focused-schools</file>
	<file>wp-content/plugins/focused-schools-core</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="basepath" value="."/>
	<arg name="cache" value=".phpcs-cache"/>
	<arg name="parallel" value="8"/>
	<arg value="sp"/>

	<config name="minimum_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="focused-schools"/>
				<element value="focused-schools-core"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="focused_schools"/>
				<element value="FocusedSchools"/>
				<element value="FocusedSchoolsCore"/>
			</property>
		</properties>
	</rule>
</ruleset>
